@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#222;
  font-weight:300;
}

h1, h2, h3 {
  color:#333;
  margin:0 0 20px;
}

p {
  margin:0 0 10px;
}

ul {
  margin: 0 0 5px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:32px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

img {
  max-width:100%;
}

header {
  margin-left: 180px;
  text-align: center;
  float: center;
  width: 900px;
  zoom: 1.2;
}

header h1 {
  font-size:40px;
  margin-top:10px;
}

header hr {
  border: none;
  height: 3px;
  background-color: #242424;
}

nav {
  width:270px;
  float:left;
  position:fixed;
  zoom:1.2;
}


nav h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

nav p.view {
  margin-bottom:5px;
}

nav p.view small {
  font-size:14px;
  padding-top:2px;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:12px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:20px;
}

footer p {
  margin-bottom: 5px;
}
