<!doctype html>
<html>
  <head>
  {% block favicons %}
  {% endblock favicons %}

  {% block css %}
    <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
    <script src="{{ media_url('js/scale.fix.js') }}"></script>
  {% endblock css %}

  <body>
    {% block content %}
      <header>
        {% block header %}
          <h1><a href="{{ content_url('') }}">Hilfi Alkaff</a></h1>
              <div class="header-icon">
                <a href="https://www.linkedin.com/pub/hilfi-alkaff/47/73a/228" target="tab"><img src="{{ media_url('images/linkedin.png') }}" width=18 height=18></a>
                <a href="https://www.github.com/hilfialkaff" target="tab"><img src="{{ media_url('images/github.png') }}" width=18 height=18></a>
                <a href="https://twitter.com/HilfiAlkaff1"><img src="{{ media_url('images/twitter.png') }}" width=18 height=18></a>
                <a href="http://www.quora.com/Hilfi-Alkaff"><img src="{{ media_url('images/quora.png') }}" width=18 height=18></a>
              </div>

              <div class="header-topic">
                <a href="{{ content_url('index.html') }}">About</a>
                <a href="{{ content_url('industry.html') }}">Work Experience</a>
                <a href="{{ content_url('projects.html') }}">Projects</a>
                <a href="{{ content_url('resume.html') }}">Resume </a>
              </div>
          <hr />
        {% endblock header %}
      </header>

      <div class="main-content">
        {% block main %}
          {{ content }}
        {% endblock main %}
      </div>
    {% endblock content %}

    {% block js %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    {% endblock js %}
  </body>
</html>
